@model FinalProject.DATA.EF.UserDetails

@{
    ViewBag.Title = "User Details";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn-get-started btn-background" })</li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<section>
    <div class="container">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserPhoto)
                </dt>

                <dd>
                    <img src="~/Content/assets/img/Uploads/t_@Model.UserPhoto" alt="Home Photo" title="@Model.FullName" />
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn-get-started btn-background" })
        </p>
    </div>
</section>
