@model FinalProject.DATA.EF.Reservations

@{
    ViewBag.Title = "Reservations | Details";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn-get-started" })</li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<div>
    <h4>Reservations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Homes.HomeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homes.HomeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locations.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locations.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Services.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services.ServiceType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
